/*
 * Empty Stylesheet file.
 */
/* Estilos para la tabla */
.table-view {
    -fx-background-color: #f4f4f4; /* Color de fondo */
    -fx-border-color: transparent;
}

/* Estilos para las columnas */
.table-column-header {
    -fx-font-size: 14px; /* Tamaño de fuente */
    -fx-font-weight: bold; /* Negrita */
    -fx-text-fill: #333; /* Color del texto */
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #ddd; /* Color del borde */
    -fx-alignment: CENTER; /* Alineación del texto */
}

/* Estilo para filas seleccionadas */
.table-row-cell:selected {
    -fx-background-color: #ffa500; /* Cambia el color a naranja */
    -fx-text-fill: white; /* Cambia el color del texto a blanco */
}

/* Estilo para filas normales */
.table-row-cell {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

/* Estilo para filas impares */
.table-row-cell:odd {
 /*   -fx-background-color: #fafafa;*/ /* Color de fondo para filas impares */
}
